.Weather {
  border: 1px solid #a7b99e;
  border-radius: 10px;
  background-color: #eff7d3;
  font-family: "Sour Gummy", sans-serif;
  padding: 16px;
  font-style: normal;
  box-shadow: 20px 51px 34px 8px rgb(83, 90, 59);
  color: #a7b99e;
}

.Weather h1 {
  font-size: 42px;
  font-weight: 300;
  margin: 20px 0 10px 0;
  line-height: 39px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  color: rgb(83, 90, 59, 0.8);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 5px;
}

.Weather .unit {
  color: rgb(83, 90, 59, 0.8);
  font-size: 18px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
